#no-mobile{
    position:absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top:0;
    font-size: 32px;
    font-weight: 600;
    overflow: hidden;
}

@media screen and (max-width: 640px){
    #no-mobile {
        display: none;
    }
}
@keyframes btslogmoving {
    0%{transform: translateY(0)

    }
    50%{
        transform: translateY(10px);
    }
    100%[
        transform: none;
    ]
}

.no-mobile__img {
    width: 200px;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
    animation: btslogmoving 2s ease-in-out infinite;
}
